{% extends 'base.html' %}
{% block content %}
<h1 class="container" style="text-align: center">Books</h1>
<div class="container">
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{book.id}}</th>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.price}}$</td>
      <td>{{book.category}}</td>
      <td>{{book.description}}</td>
      <td>{{book.date_created}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}